@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=Big+Shoulders+Display:wght@300;800;900&family=IBM+Plex+Sans:wght@400;700&family=Outfit:wght@300;800;900&family=Red+Hat+Display:wght@500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: "barlow";
}
body{
    overflow-x: hidden;
}
/*    HEADER     */
header{
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:40px ;
}
.pre-order{
    background: #E8EFF2;
    border-radius: 8px;
    border: none;
    width: 175px;
    height:58px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #162542;
    cursor: pointer;
}
.pre-order:hover{
    background: #162542;
    color: #FFFFFF;
}
/*   UPPER   */
.text{
    margin-top:64px ;
    padding: 0 24px;
}
.text h1{
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: #162542;
}
.text p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    margin-top: 32px;
}
.buttons{
    margin-top: 43px;
}
.orange-preorder{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F16718;
    border-radius: 8px;
    border: none;
    width:150px;
    height: 48px;
    cursor: pointer;
}
.orange-preorder:hover{
    background: #FF9B62;

}
.release{
    width: 127px;
    height: 26px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #7B8BAD;
    background: #FFFFFF;
    margin-left:32px ;
    cursor: pointer;
}
#first-key{
    margin-top: 75px;
    margin-left: 24px;
    border-radius: 20px;
}
/*MIDDLE SECTION*/

#first-key-tab, #phone-key-tab, #glass-tab, #first-key-tab{
    display: none;
}
#first-key-desk, #phone-key-desk, #glass-desk{
    display: none;
}
.middle{
    margin-top: 24px;
    position: relative;
}
.images{
    display: flex;
    position: relative;
    left: -8.5%;
    gap: 18px;
    
}
#phone-key{
    border-radius: 20px;
    mix-blend-mode: multiply;
    opacity: 0.75;
}
.layer{
    background-color: #F16718;
    border-radius: 20px;
}
#glass{
    border-radius: 20px;
    width: 58%;
    height: auto;
}
.wireless h2{
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #162542;
}
.wireless p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7B8BAD;
    margin-top: 24px;
}
.wireless{
    padding: 0 24px;
    margin-top: 75px;
}
/*DESCRIPTION*/
.orange{
    background: #F16718;
    border-radius: 16px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 64px;
}
.class h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #162542;
    margin-top: 48px;
}
.class p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7B8BAD;
    margin-top: 24px;
}
.descrip{
    margin-top: 47px;
    padding: 0 24px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}
@media (min-width:768px){
    .upper{
        display: flex;
        margin-top: 62px;
        align-items: center;
        
    }
    .text h1{
        max-width: 339px;
    }
    .text{
        padding:0 39px ;
        margin: 0;
        
    }
    #first-key-tab, #phone-key-tab, #glass-tab, #first-key-tab{
        display: block;
    }
    #first-key, #phone-key, #glass{
        display: none;
    }
    #phone-key-tab{
        mix-blend-mode: multiply;
        opacity: 0.75;
        border-radius: 20px;
    }
    #first-key-tab{
        width: 62.23%;
        border-radius: 20px;
        position: relative;
        right: -20.44%;
        height: 425px;
    }
    .buttons{
        display: flex;
        align-items: center;
    }
    .images{
        left: 5.07%;
     
    }
    .layer{
        width: 27.86%;
        height:320px ;

    }
    #phone-key-tab{
        width:100%;
        height:320px ;
    }
    #glass-tab{
        
        border-radius: 20px;
        height:320px ;
        width: 57.97%;
    }
    .wireless{
        display: flex;
        padding: 0 40px;
    }
    .wireless p{
        width:51. 82%;
        padding-left: 36px;
        text-align: center;
    }
    .wireless h2{
        text-align: left;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 72px;
        column-gap: 68px;
    }
    .class p{
        text-align: left;
    }
    .class h3{
        text-align: left;
    }   
    .class h3{
        text-align: left;
    }
    .orange{
        margin: 0;
    }
}
@media (min-width:1440px){
    #first-key-tab, #phone-key-tab, #glass-tab, #first-key, #phone-key, #glass{
        display: none;
    }
    #first-key-desk, #phone-key-desk, #glass-desk{
        display: block;
    }   
    .layer{
        width: 17.86%;
        height:480px;
        margin-left: 165px;
    }
    #phone-key-desk{
        width: 100%;
        height:480px;
        border-radius: 20px;
        mix-blend-mode: multiply;
        opacity: 0.75;
        
    }
    #glass-desk{
        width: 30.9%;
        height: 480px;
        border-radius: 20px;
    }
    .middle{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    #first-key-desk{
        width: 37.5%;
        border-radius: 20px;
        margin-right: 165px;
        height: 480px;
        margin-top: 83px;
    }
    .text{
        padding-left: 165px;
    }
    .text h1{
        font-size: 56px;
        line-height: 56px;
        max-width: 445px;
    }
    .text p{
        font-size: 18px;
        line-height: 26px;
    }
    .wireless{
        padding: 0;
        display: block;
    }
    .wireless p{
        width: 255px;
        padding-left: 0;
        text-align: left;
    }
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 30px;
    }
    .descrip{
        padding: 0 165px;
        margin-top: 168px;
    }
    
    
    header{
        padding: 0 165px;
    }
    body{
        background-image: url(./typemaster-pre-launch-landing-page/starter-code/assets/shared/pattern-square.svg), url(./typemaster-pre-launch-landing-page/starter-code/assets/shared/pattern-square.svg);
        background-repeat: no-repeat no-repeat;
        background-position-x: calc(100% + 135px), calc(0% - 120px);
        background-position-y: calc(0% + 196px), calc(0% + 950px);
    }
    .upper{
        margin-top: 0;
    }
    .images{
        min-width: 50%;
        left: 0; 
        

    }
}